/* ==========================================================================
   Plum theme skin
   ========================================================================== */

/* Colors */
$base-color:  #c9b5d2 !default;
$text-color:   #e9b5d2 !default;
$accent-color: #951556 !default;
$background-color: #e9b5d2 !default;
$code-background-color:  linear-gradient( #35bcbf 40%, #41506b 100%) !default;
$border-color: rgba($text-color, 0.5) !default;
$overlay-color: #e9b5d2 !default;
